<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="HACK.WebForms.SiteMaster" %>
<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <asp:ContentPlaceHolder ID="PageTitle" runat="server">HACK KUET | Hardware Acceleration Club</asp:ContentPlaceHolder>
    </title>
    <link rel="stylesheet" href="styles.css" />
    <script src="script.js" defer></script>
    <asp:ContentPlaceHolder ID="HeadContent" runat="server" />
</head>
<body class="light-site">
    <form id="join-form" runat="server">
        <header class="top-shell">
            <div class="brand-block">
                <img src="resource/hack.png" alt="HACK KUET Logo" class="brand-logo" />
                <div class="brand-copy">
                    <h1>Hardware Acceleration Club of KUET</h1>
                </div>
            </div>

            <button class="menu-toggle" type="button" aria-label="Toggle navigation menu" aria-expanded="false" aria-controls="site-nav">
                <span class="menu-icon" aria-hidden="true">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>

            <nav id="site-nav" class="main-nav" aria-label="Main navigation">
                <a class='<%: GetNavClass("Home.aspx") %>' href="Home.aspx">Home</a>
                <a class="nav-link" href="projects-workshops.html">Projects &amp; Workshops</a>
                <a class='<%: GetNavClass("Blog.aspx") %>' href="Blog.aspx">Blog</a>
                <a class='<%: GetNavClass("Register.aspx") %>' href="Register.aspx">Registration</a>
                <a class="nav-link" href="Home.aspx#about">About</a>
                <a class="nav-link" href="Home.aspx#events">Events</a>
                <a class="nav-link" href="Register.aspx">Join</a>
                <a class="nav-link" href="Home.aspx#contact">Contact</a>
            </nav>
        </header>

        <asp:ContentPlaceHolder ID="MainContent" runat="server" />

        <footer class="site-footer">
            <div class="social-links" aria-label="HACK social links">
                <a class="social-logo" href="https://www.facebook.com/profile.php?id=100088262984928" target="_blank" rel="noopener noreferrer" aria-label="HACK Facebook Page">
                    <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                        <path d="M13.6 8.2h2V5.1c-.9-.1-1.8-.1-2.7-.1-2.7 0-4.6 1.6-4.6 4.7v2.6H5.2v3.4h3.1V23h3.8v-7.3h3l.5-3.4h-3.5V10c0-1 .3-1.8 1.5-1.8z" />
                    </svg>
                    <span>Facebook Page</span>
                </a>
                <a class="social-logo" href="https://www.facebook.com/groups/hack.kuet" target="_blank" rel="noopener noreferrer" aria-label="HACK Facebook Community">
                    <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                        <path d="M16 11c1.7 0 3-1.3 3-3s-1.3-3-3-3-3 1.3-3 3 1.3 3 3 3zm-8 0c1.7 0 3-1.3 3-3S9.7 5 8 5 5 6.3 5 8s1.3 3 3 3zm0 2c-2.3 0-6 1.2-6 3.5V19h12v-2.5C14 14.2 10.3 13 8 13zm8 0c-.3 0-.7 0-1.1.1 1.2.9 2.1 2 2.1 3.4V19h7v-2.5c0-2.3-3.7-3.5-6-3.5z" />
                    </svg>
                    <span>Community Group</span>
                </a>
            </div>
            <p class="footer-note">&copy; 2026 Hardware Acceleration Club of KUET (HACK). All rights reserved.</p>
        </footer>
    </form>
</body>
</html>