<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HackDb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=HACKClub;Integrated Security=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="20480" executionTimeout="300" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="20971520" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear />
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
